---
###############################################################################
# Configure Plex Install
###############################################################################
# Plex reads/re-writes only once at startup. Saving in the WebUI will write
# current running config to disk.
#
# Plex copies  existing values and generates the following if missing:
# * IPNetworkType
# * OldestPreviousVersion
# * MachineIdentifier
# * ProcessedMachineIdentifier
# * AnonymousMachineIdentifier

- name: 'Config | filesystem | set Preferences.xml'
  when: plex_flg_preferences
  ansible.builtin.template:
    src: '{{ plex_cfg_preferences }}'
    dest: '{{ plex___preferences }}'
    owner: '{{ plex__uid }}'
    group: '{{ plex__gid }}'
    mode: '0600'
  become: true
  become_user: '{{ plex_srv_user }}'

- name: 'Config | systemd | start services'
  when: plex_flg_start
  ansible.builtin.systemd:
    name: 'plexmediaserver.service'
    enabled: true
    daemon_reload: true
    state: 'started'
  failed_when: false
