---
# yamllint disable rule:line-length
###############################################################################
# Execute
###############################################################################
# Plex debian packaging does NOT follow Debian standards:
# * Debian defaults, and DEBCONF options are not used.
#     Resolution: Use overrides.conf only.
# * systemd mask cannot be used as /etc/systemd/system/plexmediaserver.service
#   is checked for existence (regardless of pointing to /dev/null for masked
#   services). If this file exists the package install will hard fail.
#     Resolution: Minimize restarts, do NOT mask.
# * /usr/lib/systemd/system/plexmedisserver.service puts in hard start limits
#   with StartLimitInterval=60s, StartLimitBurst=3. This mask sense with a
#   manual install, but causes start-limit-hit issues on automated tasks which
#   also use additional start/stop cycles for entitlements, backups, etc.
#   within a tight timeframe.
#     Resolution: Statically set StartLimitBurst=10 to avoid role issues.
# * The 'plex' user must exist regardless of use or the package breaks.
#     Resolution: Disable plex user and prevent use with role.
# * Package will create PLEX_MEDIA_SERVER_APPLICATION_SUPPORT_DIR (default:
#   /var/lib/plexmediaserver/Library/Application Support) as the only
#   pre-condition to starting the service.
#     Resolution: Manually create directory with plex user permissions.
# * Package signed using SHA1 signatures (invalid in trixie as of 2026-01-01)
#   causing the package install to fail. There was a year ramp to update keys
#   which they failed to meet.
#     Resolution: Remove and prevent previous repository from being setup.
#
# Plex released a trixie specific script to attempt to solve issues:
# * Removes existing debian APT sources from /etc/apt/sources.list.d/plex*
#     Resolution: Maintenance task to remove old package remnants.
# * Imports a new signing key from a new location
#   https://downloads.plex.tv/plex-keys/PlexSign.v2.key
#     Resolution: Manually manage DEB822 APT sources with new key.
# * Package continues to use non-DEB822 APT sources on install:
#   /etc/apt/sources.list.d/plex.list
#     Resolution: Always check and remove non-DEB822 sources on install.
#
# See preinst and /usr/lib/plexmediaserver/lib/plexmediaserver.service defaults
# in deb package.
#
# Confirm Plex application directory structure created and halt service for
# additional role configuration.
#
# Reference:
# * https://repo.plex.tv/scripts/setupRepo.sh
# * https://forums.plex.tv/t/issue-upgrading-to-pms-1-43-0-10467-on-debian-and-rhel-based-distributions/935847/189

- name: '{{ "Install | account | query user " ~ plex_srv_user }}'
  ansible.builtin.command: '{{ "id " ~ plex_srv_user }}'
  register: plex__user_check
  changed_when: plex__user_check.rc > 0
  failed_when: false

- name: '{{ "Install | account | query group " ~ plex_srv_group }}'
  ansible.builtin.command: '{{ "groups " ~ plex_srv_group }}'
  register: plex__group_check
  changed_when: plex__group_check.rc > 0
  failed_when: false

- name: '{{ "Install | account | create group " ~ plex_srv_group }}'
  when: plex__group_check.rc != 0
  ansible.builtin.group:
    gid: '{{ plex___group.gid }}'
    name: '{{ plex___group.name }}'
    state: 'present'

- name: '{{ "Install | account | create user " ~ plex_srv_user }}'
  when: plex__user_check.rc != 0
  ansible.builtin.user:
    name: '{{ plex___user.name }}'
    group: '{{ plex___user.group }}'
    uid: '{{ plex___user.uid }}'
    shell: '{{ plex___user.shell }}'
    home: '{{ plex___user.home }}'
    create_home: '{{ plex___user.create_home }}'
    password: '{{ plex___user.password }}'
    password_lock: '{{ plex___user.password_lock }}'
    update_password: '{{ plex___user.update_password }}'
    expires: '{{ plex___user.expires }}'
    system: '{{ plex___user.system }}'

# Pre-existing users may have a different UID/GID.
- name: '{{ "Install | account | enumerate " ~ plex_srv_user }}'
  ansible.builtin.user:
    name: '{{ plex_srv_user }}'
  check_mode: true
  changed_when: false
  register: plex__user_query

- name: 'Install | account | parse service UID/GID'
  ansible.builtin.set_fact:
    plex__uid: '{{ plex__user_query.uid }}'
    plex__gid: '{{ plex__user_query.group }}'

- name: '{{ "Install | filesystem | set " ~ plex___root_dir }}'
  ansible.builtin.file:
    path: '{{ plex___root_dir }}'
    owner: '{{ plex__uid }}'
    group: '{{ plex__gid }}'
    mode: '0755'
    state: 'directory'

- name: '{{ "Install | filesystem | set " ~ plex___opt_dir }}'
  ansible.builtin.file:
    path: '{{ plex___opt_dir }}'
    owner: 'root'
    group: 'root'
    mode: '0755'
    state: 'directory'

- name: '{{ "Install | filesystem | set " ~ plex__srv_tmpdir }}'
  when: plex__srv_tmpdir != '/tmp'
  ansible.builtin.file:
    path: '{{ plex__srv_tmpdir }}'
    owner: 'root'
    group: 'root'
    mode: '0755'
    state: 'directory'

- name: 'Install | filesystem | set plex_update'
  ansible.builtin.template:
    src: 'plex_update.j2'
    dest: '{{ plex___opt_dir ~ "/plex_update" }}'
    owner: 'root'
    group: 'root'
    mode: '0755'

- name: 'Install | filesystem | set DBRepair.sh'
  when: not (url_inject_enable | default(false))
  ansible.builtin.get_url:
    url: '{{ plex___repair_url }}'
    dest: '{{ plex___opt_dir ~ "/DBRepair.sh" }}'
    force: false
    owner: 'root'
    group: 'root'
    mode: '0755'
  register: plex__download
  until: plex__download is succeeded

- name: 'Install | filesystem | add to search path'
  ansible.builtin.file:
    src: '{{ plex___opt_dir ~ "/" ~ item }}'
    path: '{{ plex___bin_dir ~ "/" ~ item }}'
    owner: 'root'
    group: 'root'
    mode: '0755'
    state: 'link'
  loop:
    - 'plex_update'
    - 'DBRepair.sh'

- name: 'Install | systemd | create plex service drop-in'
  ansible.builtin.file:
    path: '/etc/systemd/system/plexmediaserver.service.d'
    owner: 'root'
    group: 'root'
    mode: '0755'
    state: 'directory'

- name: 'Install | systemd | set plex service drop-in'
  ansible.builtin.template:
    src: 'systemd/override.conf.j2'
    dest: '/etc/systemd/system/plexmediaserver.service.d/override.conf'
    owner: 'root'
    group: 'root'
    mode: '0644'

- name: 'Install | install packages'
  ansible.builtin.include_role:
    name: 'r_pufky.deb.apt'
  vars:
    apt_packages:
      - '{{ plex___packages }}'
    apt_sources: '{{ plex___apt_sources }}'
    apt_package_update_cache: true

- name: 'Install | account | lock package user'
  when: plex___user != 'plex'
  ansible.builtin.user:
    name: 'plex'
    password: '!'
    password_lock: true

- name: 'Install | filesystem | remove non DEB822 plex apt sources'
  ansible.builtin.file:
    path: '{{ "/etc/apt/sources.list.d/" ~ item }}'
    state: 'absent'
  loop:
    - 'plex.list'
    - 'plexmediaserver.list'

- name: 'Install | systemd | stop services'
  ansible.builtin.systemd:
    name: 'plexmediaserver.service'
    state: 'stopped'
  failed_when: false
