---
###############################################################################
# Pre Execution Tasks
###############################################################################

- name: 'Prep | record start time'
  ansible.builtin.set_fact:
    plex__role_start: '{{ now(utc=True, fmt="%Y-%m-%dT%H%M%S") }}'
    plex__backup_dir: "{{ plex_cfg_backup_dir | regex_replace('\\/$', '') }}"
    plex__srv_tmpdir: "{{ plex_srv_tmpdir | regex_replace('\\/$', '') }}"

- name: 'Prep | assert | service user'
  ansible.builtin.assert:
    quiet: true
    that:
      - plex___user != 'plex'
      - plex___group != 'plex'
    fail_msg: |

      ╭───────────────────────────────────────────────────────────────────╮
      │                                                                   │
      │            Plex service user/group must NOT be 'plex'.            │
      │                                                                   │
      ├───────────────────────────────────────────────────────────────────╯
      │ Create a custom user before executing this role or use 'media' to
      │ automatically create a service user for Plex.
      │
      │ plex___user: {{ plex___user }}
      │ plex___group: {{ plex___group }}

- name: 'Prep | assert | backup location'
  when: plex_flg_backup_config or plex_flg_backup_db
  ansible.builtin.assert:
    quiet: true
    that:
      - plex_cfg_backup_dir | length > 0
    fail_msg: |

      ╭───────────────────────────────────────────────────────────────────╮
      │                                                                   │
      │                     Backup location not set.                      │
      │                                                                   │
      ├───────────────────────────────────────────────────────────────────╯
      │ Backups enabled but no backup location defined.
      │
      │ plex_cfg_backup_dir: {{ plex_cfg_backup_dir }}
      │ plex_flg_backup_config: {{ plex_flg_backup_config }}
      │ plex_flg_backup_db: {{ plex_flg_backup_db }}

- name: 'Prep | filesystem | set backup location'
  when: plex__backup_dir | length > 0 and plex__backup_dir != '/tmp'
  delegate_to: 'localhost'
  run_once: true
  ansible.builtin.file:
    path: '{{ plex__backup_dir }}'
    mode: '0750'
    state: directory
