[Unit]
Description=Automatically update Plex Media Server.
Requires=plex_update.timer

[Service]
Type=oneshot
ExecStart="{{ plex___update._dest_file }}"
SuccessExitStatus=0
SuccessExitStatus=1
User=root
Group=root

[Install]
WantedBy=multi-user.target