[Unit]
Description=Automatically update Plex Media Server.
Requires=plex_update.timer

[Service]
Type=oneshot
ExecStart="/opt/plex/plex_update"
SuccessExitStatus=0
SuccessExitStatus=1
User=root
Group=root

[Install]
WantedBy=multi-user.target