<?xml version="1.0" encoding="utf-8"?>
<Preferences
{%- if 1 == 1 %} {% endif %}
{%- for header in _plex_order -%}
{%-   for section in _plex_map | selectattr('value.section', '==', header) | sort(attribute='value.order') -%}
{%-     if header == 'Experimental' -%}
{%-       if section.value.raw != section.value.default -%}
{{ section.value.key }}="{{ section.value.raw }}"
{%-       endif -%}
{%-     elif not section.value.deprecated -%}
{%-       if section.value.hint in ['list of str', 'dict'] -%}
{{ section.value.key }}="{{ section.value.data }}"
{%-       elif section.value.hint == 'bool' -%}
{{ section.value.key }}="{{ section.value.raw | int }}"
{%-       elif section.value.hint == 'bool as str' -%}
{{ section.value.key }}="{{ section.value.data }}"
{%-       else -%}
{{ section.value.key }}="{{ section.value.raw }}"
{%-       endif -%}
{%-     endif %}
{%- if 1 == 1 %} {% endif -%}
{%    endfor -%}
{%  endfor -%}
/>
